<!-- Page Title-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <%= @lecture.title %>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= courses_path %>">Courses</a>
      </li>
      <li>
        <a href="<%= course_path(@course) %>"><%= @course.title %></a>
      </li>
      <li class="active">
        <strong><%= @lecture.seq %>. <%= @lecture.title %></strong>
      </li>
    </ol>
  </div>
</div>
<br>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <% if @lecture.next %>
      <%= link_to "Next <i class='fa fa-arrow-circle-right'></i>".html_safe, course_lecture_path(@course, @lecture.next), class: "btn btn-primary pull-right" %>
    <% end %>
    <% if @lecture.previous %>
      <%= link_to "<i class='fa fa-arrow-circle-left'></i> Previous".html_safe, course_lecture_path(@course, @lecture.previous), class: "btn btn-primary pull-left" %>
    <% end %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <% unless @lecture.video.empty? %>
          <li class="active"><a id="t1" data-toggle="tab" href="#tab-1"> Video</a></li>
          <% end %>
          <% unless @lecture.transcript.empty? %>
          <li class=""><a id="t2" data-toggle="tab" href="#tab-2"> Transcript</a></li>
          <% end %>
          <% unless @lecture.external.empty? %>
          <li class=""><a id="t3" data-toggle="tab" href="#tab-3"> External Links</a></li>
          <% end %>
          <li class=""><a id="t4" data-toggle="tab" href="#tab-4"> Discussion</a></li>
        </ul>
        <div class="tab-content">
          <% unless @lecture.video.empty? %>
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">

              <figure class="embed-responsive embed-responsive-16by9">
                <%= display(@lecture.video) %>
              </figure>

            </div>
          </div>
          <% end %>
          <% unless @lecture.external.empty? %>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.external %></p>

            </div>
          </div>
          <% end %>
          <% unless @lecture.transcript.empty? %>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.transcript %></p>

            </div>
          </div>
          <% end %>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <div id="disqus_thread"></div>
              <script>
                /**
                 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                 var disqus_config = function () {
                 this.page.url = '<%= course_lecture_url(@course, @lecture) %>'; // Replace PAGE_URL with your page's canonical URL variable
                 this.page.identifier = 'lec_' + <%= @course.id %> + '_' + <%= @lecture.id %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                 };

                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');

                  s.src = '//codelit-learn.disqus.com/embed.js';

                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<script id="dsq-count-scr" src="//codelit-learn.disqus.com/count.js" async></script>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function () {
      // Adding responsive class to lecture video
      $("iframe").addClass("embed-responsive-item");
      <% if @lecture.video.empty? && !@lecture.transcript.empty? %>
      jQuery('#tab-2').addClass('active');
      jQuery('#tab-3').removeClass('active');
      jQuery('#tab-1').removeClass('active');
      jQuery('#t2').parent('li').addClass('active');
      jQuery('#t3').parent('li').removeClass('active');
      jQuery('#t1').parent('li').removeClass('active');
      <% end %>
    });


    // making lecture video full screen
    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e) {
      $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
    });


  </script>
<% end %>
