<!-- Page Title-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <%= @lecture.title %>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= courses_path %>">Courses</a>
      </li>
      <li>
        <a href="<%= course_path(@course) %>"><%= @course.title %></a>
      </li>
      <li class="active">
        <strong><%= @lecture.seq %>. <%= @lecture.title %></strong>
      </li>
    </ol>
  </div>
</div>
<br>


<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Video</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2"> Transcript</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3"> External Links</a></li>
          <li class=""><a data-toggle="tab" href="#tab-4"> Discussions</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">

              <figure class="embed-responsive embed-responsive-16by9">
                <%= display(@lecture.video) %>
              </figure>

            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.external %></p>

            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.transcript %></p>

            </div>
          </div>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'codelit-learn';
                var disqus_identifier = 'lecture_<%= @lecture.course.id %>_<%= @lecture.id %>';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                  var dsq = document.createElement('script');
                  dsq.type = 'text/javascript';
                  dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
              <noscript>Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<% content_for :javascript do %>
  <script type="text/javascript">

    $(document).ready(function () {

      // Adding responsive class to lecture video
      $("iframe").addClass("embed-responsive-item");

    });

    // making lecture video full screen
    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e) {
      $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
    });


  </script>
<% end %>
