<!-- Page Title-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <%= @lecture.title %>
      <% if @course.lectures.count > 0 %>
        <div class="progress progress-striped active">
          <div style="width: <%= @course.progress?(current_user) %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-primary">
          </div>
        </div>
      <% end %>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= courses_path %>">Courses</a>
      </li>
      <li>
        <a href="<%= course_path(@course) %>"><%= @course.title %></a>
      </li>
      <li class="active">
        <strong><%= @lecture.seq %>. <%= @lecture.title %></strong>
      </li>
    </ol>
  </div>
</div>
<br>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <% if @lecture.next %>
      <%= link_to "Next <i class='fa fa-arrow-circle-right'></i>".html_safe, course_lecture_path(@course, @lecture.next), class: "btn btn-primary pull-right" %>
    <% end %>
    <% if @lecture.previous %>
      <%= link_to "<i class='fa fa-arrow-circle-left'></i> Previous".html_safe, course_lecture_path(@course, @lecture.previous), class: "btn btn-primary pull-left" %>
    <% end %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <% unless @lecture.video.empty? %>
          <li class="active"><a id="t1" data-toggle="tab" href="#tab-1"> Video</a></li>
          <% end %>
          <% unless @lecture.transcript.empty? %>
          <li class=""><a id="t2" data-toggle="tab" href="#tab-2"> Transcript</a></li>
          <% end %>
          <% unless @lecture.external.empty? %>
          <li class=""><a id="t3" data-toggle="tab" href="#tab-3"> External Links</a></li>
          <% end %>
          <li class=""><a id="t4" data-toggle="tab" href="#tab-4"> Discussion (<%= @lecture.comments.count %>)</a></li>
        </ul>
        <div class="tab-content">
          <% unless @lecture.video.empty? %>
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">

              <figure class="embed-responsive embed-responsive-16by9">
                <%= display(@lecture.video) %>
              </figure>

            </div>
          </div>
          <% end %>
          <% unless @lecture.external.empty? %>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.external %></p>

            </div>
          </div>
          <% end %>
          <% unless @lecture.transcript.empty? %>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

              <p><%= raw @lecture.transcript %></p>

            </div>
          </div>
          <% end %>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">

                  <%= render partial: "comments/comments", locals: {commentable: @lecture, commentable_parent: @course} %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<br>
<br>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function () {
      // Adding responsive class to lecture video
      $("iframe").addClass("embed-responsive-item");
      <% if @lecture.video.empty? && !@lecture.transcript.empty? %>
      jQuery('#tab-2').addClass('active');
      jQuery('#tab-3').removeClass('active');
      jQuery('#tab-1').removeClass('active');
      jQuery('#t2').parent('li').addClass('active');
      jQuery('#t3').parent('li').removeClass('active');
      jQuery('#t1').parent('li').removeClass('active');
      <% end %>
    });


    // making lecture video full screen
    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e) {
      $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
    });


  </script>
<% end %>
