<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h2>
            <%= @courses.count+@recipes.count+@casts.count %> results found for: <span class="text-navy">“<%= params[:q][:title_cont] %>”</span>
          </h2>
          <% @courses.each do |course| %>
              <div class="hr-line-dashed"></div>
              <div class="search-result">
                <h3><a href="<%= course_url(course) %>">Course: <%= course.title %></a></h3>
                <a href="<%= course_url(course) %>" class="search-link"><%= course_url(course) %></a>

                <p>
                  <% require 'rubygems'
                     require 'nokogiri' %>
                  <%= Nokogiri::HTML(course.description).text.truncate(200, separator: ' ') %>
                </p>
              </div>
          <% end %>
          <% @recipes.each do |recipe| %>
            <div class="hr-line-dashed"></div>
            <div class="search-result">
              <h3><a href="<%= recipe_url(recipe) %>">Code Recipe: <%= recipe.title %></a></h3>
              <a href="<%= recipe_url(recipe) %>" class="search-link"><%= recipe_url(recipe) %></a>

              <p>
                <% require 'rubygems'
                   require 'nokogiri' %>
                <%= Nokogiri::HTML(recipe.content).text.truncate(200, separator: ' ') %>
              </p>
            </div>
          <% end %>
          <% @casts.each do |cast| %>
            <div class="hr-line-dashed"></div>
            <div class="search-result">
              <h3><a href="<%= cast_url(cast) %>">Code Cast: <%= cast.title %></a></h3>
              <a href="<%= cast_url(cast) %>" class="search-link"><%= cast_url(cast) %></a>
            </div>
          <% end %>
          <div class="hr-line-dashed"></div>
        </div>
      </div>
    </div>
  </div>
</div>
