<% require 'rubygems'
   require 'nokogiri' %>
<!-- Meta Data -->
<% title @recipe.title %>
<% set_meta_tags description: Nokogiri::HTML(@recipe.content).text.truncate(170, separator: ' ') %>
<% set_meta_tags keywords: @recipe.title.split(' ').join(",") %>
<% set_meta_tags canonical: recipe_url(@recipe) %>
<% set_meta_tags author: "http://www.sulmanbaig.com" %>
<% set_meta_tags publisher: "https://codelit.com" %>
<% set_meta_tags og: {
  title:    @recipe.title+' | CODElit',
  type:     'website',
  url:      recipe_url(@recipe),
  image:    image_url('logo.png'),
  description: Nokogiri::HTML(@recipe.content).text.truncate(170, separator: ' '),
  site_name: "CODElit",
  locale:   'en_US'
} %>
<% set_meta_tags twitter: {
  card: "summary",
  site: "@codelitweb",
  title: @recipe.title+" | CODElit",
  image: image_url('logo.png'),
  description: Nokogiri::HTML(@recipe.content).text.truncate(170, separator: ' ')
} %>
<% set_meta_tags fb: {
  app_id: "429015597309000"
  } %>
<% set_meta_tags icon: image_url('favicon.ico') %>
<!-- END Meta Data -->

<!-- Page Title-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @recipe.title %></h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= recipes_path %>">Code Recipes</a>
      </li>
      <li class="active">
        <strong><%= @recipe.title %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <br/>
  <div class="col-sm-8 col-sm-offset-2">
    <% if @recipe.next %>
      <%= link_to "Next <i class='fa fa-arrow-circle-right'></i>".html_safe, recipe_path(@recipe.next), class: "btn btn-primary pull-right" %>
    <% end %>
    <% if @recipe.previous %>
      <%= link_to "<i class='fa fa-arrow-circle-left'></i> Previous".html_safe, recipe_path(@recipe.previous), class: "btn btn-primary pull-left" %>
    <% end %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a id="t1" data-toggle="tab" href="#tab-1"> Content</a></li>
          <li class=""><a id="t2" data-toggle="tab" href="#tab-2"> Discussion (<%= @recipe.comments.count %>)</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <div class="text-muted text-center"><i class="fa fa-clock-o"></i> <%= @recipe.created_at.strftime("%d %b, %Y") %></div>
              <p><%= raw @recipe.content %></p>
              <hr/>
              <div class="row">
                <div class="col-md-6">
                  <h5>Tags:</h5>
                  <% @recipe.tags.each do |tag| %>
                      <%= link_to tag.name, tag_path(tag.name), class: "btn btn-primary btn-xs" %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="small text-right">
                    <h5>Stats:</h5>
                    <div> <i class="fa fa-comments-o"> </i> <%= @recipe.comments.count %> comments </div>
                    <i class="fa fa-eye"> </i> <%= @recipe.count_views %> views
                  </div>
                </div>
              </div>
              <hr/>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Test 1 -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-9967381868474865"
                   data-ad-slot="9865520438"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <% if user_signed_in? %>
                <%= render partial: "comments/comments", locals: {commentable: @recipe, commentable_parent: nil} %>
              <% else %>
                <div class="text-center">
                  <%= link_to "Log In/Sign Up To Continue", new_user_session_path, class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<br>
<br>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function () {

    });

  </script>
<% end %>

