<!-- Meta Data -->
<% title @user.name %>
<% set_meta_tags description: Nokogiri::HTML(@user.about).text.truncate(170, separator: ' ') %>
<% set_meta_tags keywords: @user.name.split(' ').join(",") %>
<% set_meta_tags canonical: user_url(@user) %>
<% set_meta_tags author: @user.website %>
<% set_meta_tags publisher: "https://codelit.com" %>
<% set_meta_tags og: {
  title:    @user.name+' | CODElit',
  type:     'profile',
  url:      user_url(@user),
  profile: {
    first_name: @user.name,
    username: @user.facebook,
    },
  image:    @user.avatar.url(:original),
  description: Nokogiri::HTML(@user.about).text.truncate(170, separator: ' '),
  site_name: "CODElit",
  locale:   'en_US'
} %>
<% set_meta_tags twitter: {
  card: "summary",
  site: "@codelitweb",
  title: @user.name+" | CODElit",
  image: @user.avatar.url(:original),
  description: Nokogiri::HTML(@user.about).text.truncate(170, separator: ' ')
} %>
<% set_meta_tags fb: {
  app_id: "429015597309000"
  } %>
<% set_meta_tags icon: image_url('favicon.ico') %>
<!-- END Meta Data -->

<div class="wrapper wrapper-content animated fadeInRight">


  <div class="row">
      <div class="col-lg-12">
          <div class="widget-head-color-box navy-bg p-lg text-center">
              <div class="m-b-md">
                  <h2 class="font-bold no-margins">
                      <%= @user.name %>
                  </h2>
                  <small>Founder of Groupeq</small>
              </div>
              <%= image_tag @user.avatar.url(:medium), alt: @user.name, class: "img-circle circle-border m-b-md", style: "width: 100px; height: 100px" %>
              <div>
                  <span><a href="mailto:<%= @user.email %>" target="_blank" style="color: #ffffff;"><i class="fa fa-envelope-o"></i></a></span>
                  <% if @user.twitter.present? %>
                    | <span><a href="<%= @user.twitter %>" target="_blank" style="color: #ffffff;"><i class="fa fa-twitter"></i></a></span>
                  <% end %>
                  <% if @user.facebook.present? %>
                    | <span><a href="<%= @user.facebook %>" target="_blank" style="color: #ffffff;"><i class="fa fa-facebook"></i></a></span>
                  <% end %>
                  <% if @user.linkedin.present? %>
                    | <span><a href="<%= @user.linkedin %>" target="_blank" style="color: #ffffff;"><i class="fa fa-linkedin"></i></a></span>
                  <% end %>
                  <% if @user.git.present? %>
                    | <span><a href="<%= @user.git %>" target="_blank" style="color: #ffffff;"><i class="fa fa-git"></i></a></span>
                  <% end %>
                  <% if @user.website.present? %>
                    | <span><a href="<%= @user.website %>" target="_blank" style="color: #ffffff;"><i class="fa fa-globe"></i></a></span>
                  <% end %>
              </div>
          </div>
          <div class="widget-text-box">
              <p><%= @user.about %></p>
              <div class="text-right">
                <% if @user == current_user %>
                  <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit Profile'.html_safe, edit_user_registration_path, class: "btn btn-primary btn-xs" %>
                <% end %>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="font-bold"><i class="fa fa-desktop"></i> Enrolled Courses</h2>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <% @enrols.each do |enrol| %>
        <div class="col-md-3">
          <%= link_to course_path(enrol.course) do %>
          <div class="panel panel-primary" style="color: black">
            <div class="panel-heading">
              <%= enrol.course.title %>
            </div>
            <div class="panel-body">
              <p><%= enrol.course.subtitle %></p>
              <%= image_tag enrol.course.image.url(:medium), alt: enrol.course.title, class: "img-thumbnail" %>
              <% if @user == current_user && enrol.course.lectures.count > 0 %>
                Progress
                <div class="progress progress-striped active">
                  <div style="width: <%= enrol.course.progress?(@user) %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-primary">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
