<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WEBAPPLAYERS</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#team">Team</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                        <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    <li data-target="#inSlider" data-slide-to="2"></li>
        <li data-target="#inSlider" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We make<br/>
                        you, you,<br/>
                        make the world.<br/>
                        we build your future.</h1>
                    <p>Lets make yourself rule the world.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn ">
                    <img src="<%=image_url('landing/16.jpg') %>" alt="laptop" />

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Explore the <br/>power of code.</h1>
                    <p>You can make ,the history.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
         <div class="carousel-image wow zoomIn ">

                    <img src="<%= image_url('landing/3.jpg') %>" alt="laptop" />

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>


        </div>



        <div class="item">
            <div class="container">
                <div class="carousel-caption">

                    <h2>INTUITIVE DESIGN IS HOW<br/> WE GIVE THE USER<br/>NEW SUPERPOWER.</h2>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
         <div class="carousel-image wow zoomIn ">

                    <img src="<%= image_url('landing/17.jpg') %>" alt="laptop" />

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>

    <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h3>There are three responses<br/> to a piece of design <br/>– yes, no, and WOW!</h3>
                    <h1>Wow is the one<br/> we aim for.</h1>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
         <div class="carousel-image wow zoomIn ">

                    <img src="<%= image_url('landing/18.jpg') %>" alt="laptop" />

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back four"></div>
        </div>
    </div>



    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Basic</h2>
            <p>You  don't know how to code? Afraid of programming? We teach you from the scratch.Our basic courses guide you about the coding techniques, and basic logic bulding.Get stared today to build your tommorrow.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Advanced</h2>
            <p>Advance level courses  leads from basic to advance coding techniquies.More stronger way of programming, logic building and problem solving.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Professional</h2>
            <p>Professional courses aims to make you able to work in real life envirnoment.It leads to make you more practical developing professional mind.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Specific</h2>
            <p>We offer domain specific courses like web development, android development, IOS development and many more. Choose your's and be a master of it. </p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Learn By Doing Practical Projects<br/> </h1><h2><span class="navy"> Registration is completely FREE</span></h2>
            <p>Courses, Code-Casts & Blog to learn programming the better way. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Access Anywhere</h2>
                <p>You can access our site ,and your registered courses from anywhere using any device.Key is in your pocket.</p>
            </div>
            <div class="m-t-lg">
                <i class="glyphicon glyphicon-comment features-icon"></i>
                <h2>Community Discussion</h2>
                <p>Community Discussion brings togther all the students, tutors and admin togther.You can freely discuss your problems and takes expert advice.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="<%= image_url('landing/pro1.jpg') %>" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="glyphicon glyphicon-blackboard features-icon"></i>
                <h2>Blog</h2>
                <p>Blog gives the latest codes and topics in development areas with best and optimal solutions.</p>
            </div>
            <div class="m-t-lg">
                <i class="glyphicon glyphicon-education features-icon"></i>
                <h2>Courses</h2>
                <p>Project driven courses designed in which students learn coding while doing practical projects with us.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>We put all in one place. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small><small>
            <h2>Under One Roof</h2>
            <p>We have put together the  power technology in one place.We have expertise in all the fields of programming.We have bought all the flavours under one roof.Come and get yours.You can have what you want in the world of programming.You just have to choose once and then its our responsiblity to make you learn.We aim to make professionls, and we keep our promises. </p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="<%= image_url('landing/cose32.jpg') %>" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Team</h1>
                <p>We have highly professional team which teachs you every bit of your course.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="<%= image_url('landing/atif.jpg') %>" class="img-responsive img-circle img-small" alt="nabeel">
                    <h4><span class="navy">Muhammad</span> Atif</h4>
                    <p>Web developer, desktop application developer, games developer.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="<%= image_url('landing/salman.jpg') %>" class="img-responsive img-circle" alt="salman" >
                    <h4><span class="navy">Sulman</span> Baig</h4>
                    <p>Mean Stack Specialist, IOS Developer.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="<%= image_url('landing/waqar.jpg') %>" class="img-responsive img-circle img-small" alt="Baig">
                    <h4><span class="navy">Waqar</span> Baig</h4>
                    <p>Database Admistrator, PHP developer.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Keep in touch with your tutors, by following them on social media.</p>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Keep Up-to-Date</h1>
                <p>Keep pace  with new technology in order to survive in field of computer scinece.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">

                <h2>Changing Technology</h2>
                <p>Computer Science is world of change.Technolgie are changing and new are taking there place. In order to survie in this fild one have to keep pace with  changing demands of technology.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="<%= image_url('landing/best.jpg') %>" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">

                <h2>We are here... </h2>
                <p>We are not only here to teach you the current courses but, we aim to build your future.We conduct training workshops to keep our students up to date with technology development.We also train our student about the future demands .</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

</section>
<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Policy</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="glyphicon glyphicon-eye-close "></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>CODElit Privacy Policy Statement</h2>
                            <p>CODElit is responsible for maintaining and protecting the Personal Information under our control.

We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.

By using or accessing https://codelit.com website, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy.</p>

                            <span class="vertical-date"> <br/> <small>We protect you.</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Safeguarding Customer Information</h2>
                            <p>Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. CODElit takes all reasonable precautions to protect your Personal Information from any loss or unauthorised use, access or disclosure.</p>

                            <span class="vertical-date">  <br/> <small>we know what you want.</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="glyphicon glyphicon-ok-sign"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Up to Standards</h2>
                            <p>Our privacy policy is based upon the values set by the Italian Standards Association's Model Code for the Protection of Personal Information and Italian’s Personal Information Protection and Electronic Documents Act. </p>

                            <span class="vertical-date"> <br/> <small>You can trust us.</small> </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                   Our Partners
                </h1>
                <div class="testimonials-text">
                    <i>Scholarship Network</i>
          <i>Scholarship Network is our proud partner.We are in strong bond of business and friendship, making  students skillful, practical and professional.</i>
                </div>
                <small>
                    <strong><a>https://www.facebook.com/groups/scholarships.pk/</a></strong>
                </small>
            </div>
        </div>
    </div>

</section>
<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Services Collaboration</h1>
                <p>In Service Collaboration with </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://wrapbootstrap.com/user/WebAppLayers" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/web.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            WebAppLayers
                        </div>
            <small class="text-muted">{Wrap}Bootstrap</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://aws.amazon.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/ama.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Amazon Web Services
                        </div>
                        <small class="text-muted">A service for all</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://www.digitalocean.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/digital.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                           DigitalOcean
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>



        </div>


     <div class="row features-block">
            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://www.braintreepayments.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/brain.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                           Braintree
                        </div>
            <small class="text-muted">A PayPal Company</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://vimeo.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/vimo.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                           Vimeo, LLC
                        </div>
                        <small class="text-muted">Make life worth watching</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="http://embed.ly/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/embed.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                          Embed.ly

                    </div>
           <small class="text-muted">Embed Content On Any Site</small>
                </div>
            </div>



        </div>



    </div>





     <div class="row features-block">
            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="https://bitly.com" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/bit.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                           bitly
                        </div>
            <small class="text-muted">SHORTEN. SHARE. MEASURE.</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="http://mandrill.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/man.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                          Mandrill
                        </div>
                        <small class="text-muted">email API</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="comments-avatar">
                    <a href="http://mailchimp.com/" class="pull-left">
                        <img alt="image" src="<%= image_url('landing/mail.png') %>">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                          MailChimp

                    </div>
          <small class="text-muted">Send Better Email</small>
                </div>
            </div>



        </div>



    </div>

</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Free Code Cast </h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Get access to courses of your choice , absolutely free!!! Yes free not for  weeks or months , but for life time. Its a life time free offer.Coupons are now available for courses.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Refund Policy</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>At CODElit, we are committed to providing you excellent service and helping you with courses that best suits your needs. However, if you are not satisfied with your purchase of our course,you can refund ypur money.Refund can only be done within 15 days of purchase of the course</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>We Value Time </h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>We teach coding to every student in short period of time.We make you to race againt time.We make every student capable of facing the challenges of technology.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>User Public Profile</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>User can now like the blog posts.Public profile for the users are now created.We provide freedom to surf.</p>
            </div>
        </div>
    </div>

</section>
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Payment Perks</h1>
                <p>Easy and Reliable Payment Methods.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        No Monthly Charges
                    </li>
                    <li>
                        No Yearly Charges
                    </li>
                    <li>
                       No Subscription Charges
                    </li>
                    <li>
                      15 days money-back guarantee
                    </li>
                    <li>
                       No long-term contracts
                    </li>
                    <li>
                       No Hidden Charges
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Pay with PayPal
                    </li>

                    <li class="pricing-price">
                       Now Available
                    </li>
                    <li>
                       Most Trustworthy
                    </li>
                    <li>
                       Most Reliable
                    </li>
                    <li>
                        Across the Globe
                    </li>



                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Card Payments
                    </li>

                    <li class="pricing-price">
                        Via Visa Card
                    </li>
                    <li>
                        Via Master Card
                    </li>
                    <li>
                        Via Discover
                    </li>
                    <li>
                        Via AMEX
                    </li>
                    <li>
                        Via MAESTRO , MAESTRO UK.
                    </li>

                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>CODElit takes credit card data security very seriously. For that reason, we use <span class="navy">Braintree</span> to securely handle credit card information. Braintree is a Validated Level 1 PCI DSS Compliant Service Provider.Learn more about Braintree security practices.
Disclaimer: This seal only confirms that CODElit is a customer of Braintree and does not guarantee, represent or warrant the performance of CODElit.</p>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Feel free to contact ,24/7 we are here for you </p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">CODElit, Inc.</span></strong><br/>
                    Via Leonardo Cucito, 6/11,<br/>
                     Genoa, Italy,16145.<br/>
                    <abbr title="Phone">P:</abbr> +393423293236.
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                 We aim to teach everyone in most effective, efficient and comfortable way.Our goal is to make  an easy way  for everyone.We will welcome your comments and suggestions.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="codelit@hotmail.com" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015-2016 CODElit</strong><br/> Designed and Developed by Sulman Baig</p>
            </div>
        </div>
    </div>
</section>
