<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h3 class="logo-name">CODElit</h3>

    </div>
    <h3>Welcome to CODElit</h3>

    <p>
      Learn by doing practical projects.
    </p>

    <p>Login in to get started.</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "m-t"}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", required: "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: "", class: "form-control" %>
      </div>
      <%= f.button "Log In", class: "btn btn-primary block full-width m-b", data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i> Logging In..."} %>

      <%= link_to new_user_password_path do %>
        <small>Forgot password?</small>
      <% end %>
      <p class="text-muted text-center">
        <small>Do not have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" href="<%= new_user_registration_path %>">Create an account</a>
    <% end %>
    <p class="m-t">
      <small>CODElit: Learn by Doing Projects &copy; 2015</small>
    </p>
  </div>
  <br/><br/><br/>
</div>