<!-- Title Page -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Courses
    </h2>
  </div>
</div>
<br>

<!-- Sowing All Pages-->
<div class="row">
  <% @courses.each do |course| %>
      <div class="col-md-3">
        <%= link_to course_path(course) do %>
        <div class="panel panel-primary" style="color: black">
          <div class="panel-heading">
            <%= course.title %>
          </div>
          <div class="panel-body">
            <p><%= course.subtitle %></p>
            <%= image_tag course.image.url(:medium), alt: course.title, class: "img-thumbnail" %>
          </div>
          <div class="panel-footer">
            <% if user_signed_in? && !course.enrolled(current_user) %>
              <span class="badge badge-primary">Enrolled</span>
            <% else %>
            <span class="label label-danger">&euro;<%= course.price %></span>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
  <% end %>

</div>

<br>
<br>
