<div class="col-md-3 cast">
  <%= link_to cast_path(cast) do %>
  <div class="panel panel-primary" style="color: black">
    <div class="panel-heading">
      <%= cast.title %>
    </div>
    <div class="panel-body">
      <%= image_tag cast.avatar.url(:medium), alt: cast.title, class: "img-thumbnail" %>
    </div>
    <div class="panel-footer">
      <span class="small pull-left"> <i class="fa fa-comments-o"> </i> <%= cast.comments.count %> comments</span>
      <span class="small pull-right"><i class="fa fa-eye"> </i> <%= cast.count_views %> views</span><br/>
    </div>
  </div>
  <% end %>
</div>
