<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <%= link_to root_path do %>
            <li class="nav-header" style="color: white">
                <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <h3 class="font-bold"><span><img src="<%= image_url('logo_w.png') %>" width="50px" height="50px"></span> CODElit</h3>
                            </span>
                        </span>
                </div>
            </li>
          <% end %>
            <% if user_signed_in? %>
              <li class="<%= 'active' if controller.controller_name == 'users' || current_page?(edit_user_registration_path) %>">
                <a href=""><%= image_tag current_user.avatar.url(:medium), alt: current_user.name, class: "img-circle", style: "width: 15px; height: 15px" %>
                  <span class="nav-label"><%= current_user.name %> </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <%= link_to user_path(current_user) do %>
                      <i class="fa fa-user"></i> Profile
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="fa fa-pencil-square-o"></i> Edit Profile
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-sign-out"></i> Log out
                    <% end %>
                  </li>
                </ul>
              </li>
            <% end %>
            <li class="<%= 'active' if controller.controller_name == "courses" %>">
                <%= link_to courses_path do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">Courses</span>
                <% end %>
            </li>
            <% if controller.controller_name == "lectures" && (is_active_action('show') || is_active_action('index')) %>
              <li class="<%= is_active_controller('lectures') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard"><%= @course.title %></span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('lectures') %>">
                  <% @course.lectures.order("seq ASC").each do |lecture| %>
                    <li class="<%= 'active' if current_page?(course_lecture_path(@course, lecture)) %>">
                      <%= link_to course_lecture_path(@course, lecture) do %>
                        <%= lecture.seq %>. <%= lecture.title %>
                        <% if lecture.doing?(current_user) %>
                          <span class="pull-right"><i class="fa fa-circle"></i></span>
                        <% elsif lecture.done?(current_user) %>
                          <span class="pull-right"><i class="fa fa-check"></i></span>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="<%= 'active' if controller.controller_name == "casts" %>">
              <%= link_to casts_path do %>
              <i class="fa fa-laptop"></i> <span class="nav-label">Code Casts</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == "recipes" %>">
              <%= link_to recipes_path do %>
              <i class="fa fa-rss"></i> <span class="nav-label">Code Recipes</span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?(pricing_path) || current_page?(about_path) %>">
              <a href="#"><i class="fa fa-question"></i>
                <span class="nav-label">About CODElit </span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li><%= link_to '<i class="fa fa-money"></i> Pricing'.html_safe, pricing_path %></li>
                <li><%= link_to '<i class="fa fa-info-circle"></i> About Us'.html_safe, about_path %></li>
                <li><%= link_to '<i class="fa fa-files-o"></i> CODElit Terms & Conditions of Use'.html_safe, terms_path %></li>
                <li><%= link_to '<i class="fa fa-lock"></i> CODElit Privacy Policy'.html_safe, privacy_path %></li>
              </ul>
            </li>
        </ul>
        <% unless controller.controller_name == "courses" %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Test 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9967381868474865"
             data-ad-slot="9865520438"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <% end %>

    </div>
</nav>
