<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <%= link_to root_path do %>
            <li class="nav-header" style="color: white">
                <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <h3 class="font-bold">CODElit</h3>
                            </span>
                        </span>
                </div>
            </li>
          <% end %>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Main page</span>
                <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == "courses" %>">
                <%= link_to courses_path do %>
                <i class="fa fa-desktop"></i> <span class="nav-label">Courses</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>