<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <%= current_user.email %> <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-pencil-square-o"></i> Edit Profile
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i> Log out
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i> Log In
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-sign-in"></i> Sign Up
              <% end %>
            </li>
          <% end %>
        </ul>
    </nav>
</div>