<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>CODElit</title>

  <!-- Main css styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>



</head>
<body id="page-top" class="landing-page">

<!-- Main view  -->
<%= yield %>

<!-- Include javascript per-view -->
<!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
<!-- Main javascript files -->
<%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
<%= render 'shared/toasts' %>
</body>
</html>
